@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant+Garamond:wght@700&display=swap');

#content {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #D8D9D4;
  font-family: "Cormorant Garamond", Ariel, sans-serif;
  font-size: 22px;
  margin: 0 3%;
  padding: 0;
}

/* Header/Navigation */

header {
  background-color: #3A201F;
  display: grid;
  grid-template-columns: 150px auto;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.logo {
  width: 80px;
  border-radius: 30%;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #D8D9D4;
  padding: 35px;
}

nav a:hover {
  background-color: #C29B93;
  color: #252C27;
}

/* Hero Message/Image */
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  margin-top: -100px;
  justify-items: center;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
  
#hero-img {
  width: 100%;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 150px;
}

.home-title {
  color: #252C27;
  font-family: "Aboreto", Ariel, sans-serif;
  font-size: 2em;
  margin-top: 10px;
  padding: 10px;
  background-color: #C29B9380;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px #C29B9380;
  width: 350px;
}

h4 {
  color: #D8D9D4;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}


/* Home Grid */

.home-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 1em;
  margin-top: 10px;
  align-items: top;
  justify-items: center;
}



/* INDEX PAGE Page */

.summary {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 20px;
}

.summary p {
  background-image: url("/portfolio/images/dark_floral.jpg");
  background-size: 250%;
  color: #D8D9D4;
  border: 5px solid #252C27;
  height: 100%;
  min-width: 500px;
}

.image {
  height: 80%;
  grid-column: 2/3;
  grid-row: 1/2;
  padding-right: 40px;
}

/* ABOUT ME Page*/

hr {
  height: 2px;
  width: 90%;
  background-color: #252C27;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 300px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.summary2 div p {
  background-image: url("/portfolio/images/leaves.png");
  color: #D8D9D4;
  padding: 40px;
}

.summary2 div h2 {
  font-family: "Aboreto", Ariel, sans-serif;
  text-align: center;
  padding: 50px;
}

/* PROJECTS Page */
.summary3 div p {
  grid-row: 1/2;
  background-image: url("/portfolio/images/flowers.jpg");
  background-size:100%;
  color: #D8D9D4;
  padding: 40px;
}

* {box-sizing:border-box}

    /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  grid-row: 2/3;
}

    /* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width:100%; 
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

    /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #D8D9D4;
  background-color: #252C2780;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

    /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #252C27;
}

    /* Caption text */
.text2 {
  color: #D8D9D4;
  background-color: #3A201F99;
  border: 3px solid #D8D9D4;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.button {
  color: #D8D9D4;
  background-color: #3A201F99;
  border: 3px solid #D8D9D4;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

    /* The dots/bullets/indicators */
.dots {
  grid-row: 3/4;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3A201F80;
}

    /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Footer */

footer {
  background-color: #3A201F;
  color: #D8D9D4;
  padding: 25px 50px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 5/6;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #D8D9D4;
}

footer a:hover {
  color: #D8D9D4;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  scroll-padding-top: 15px;
}

/* Transition to Smaller Screen */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
        justify-items: center;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        color: #252C27;
    }
    .home-title {
        font-size: 25px;
        color: #252C27;
        width: auto;
    }
    #background {
        display: none;
    }
    .container {
        text-align: center;
        padding-top: 25px;
    }
    .image2 {
        max-width: 450px;
    }
    footer {
        margin-top: 25px;
    }
}